
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 16px;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}



body {
	width: 500px;
}
form {
	background-color: gray;
	text-align: center;
	padding: 7px;
	
}

#display {
	width: 98%;
	height: 30px;
	text-align: right;
	font-size: 1.5rem;
}
.digit {
	font-size: 2rem;
	background-color: red;
	height: 55px;
	width: 20%;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
}
.oper {
	font-size: 2rem;
	background-color: blue;
	height: 55px;
	width: 20%;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
}
#clearMem {
	background-color: green;
}
#equal {
	background-color: yellow;
}